{{> header}}
<div class="listing-details">
    {{#each car}}
    <div class="my-listing-details">
        <p id="auto-title">{{title}}</p>
        <img src="{{imageUrl}}">
        <div class="listing-props">
            <h2>Brand: {{brand}}</h2>
            <h3>Model: {{model}}</h3>
            <h3>Year: {{year}}</h3>
            <h3>Fuel: {{fuel}}</h3>
            <h3>Price: {{price}}</h3>
        </div>
        <div class="listings-buttons">
            {{#if isAuthor}}
            <a href="#/editListing/{{_id}}" class="button-list">Edit</a>
            <a href="#/deleteListing/{{_id}}" class="button-list">Delete</a>
            {{/if}}
        </div>
        <p id="description-title">Description:</p>
        <p id="description-para">{{description}}</p>

    </div>
    {{/each}}
</div>
{{> footer}}